@use "../../components/styles/variables/Palette";
@use "../../components/styles/variables/Responsive";

.connect {
form {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 1em;
    .TextBoxComponent {
        display:flex;
        label, input {
            margin-top: 1.5em;
        }
        label {
            width: 6em;
        }
        input {
            margin-left:3em;
            width: 12em;
        }
    }
    

    input[type="submit"] {
        margin-top: 1.5em;
        border: none;
        height: 3em;
        width: 12em + 6em + 2em + 3em;
        background-color: Palette.$black;
        color: Palette.$white;
    }
}
}