@use './variables/Palette.scss';
@use './variables/Responsive.scss';

#NavBarContainer {
    display:flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    background-color: Palette.$black;
    color: Palette.$white;
    height: 3em;
    user-select: none;
    a {
        flex: 1 0;
        svg {
            position: absolute;
        }
    }
    #ConnectArea {
        display: flex;
        flex: 0 1 auto;
        margin: 0em 1em 0em auto; //clockwise
        > #ConnectButton, #RegisterButton, span {
            padding: 1em 0.3em;
            text-decoration: none;
            color: Palette.$white;
        }
    }
    #ConnectedUserArea {
        display: flex;
        flex: 0 1;
        margin: 0.2em 0.5em;
        cursor: pointer;

        #ProfilePicture {
            flex: 0 1 auto;
            height: 2.6em;
            width: 2.6em;
            animation-duration: 1s;
            animation-name: BorderLoading;
            animation-iteration-count: infinite;
            height: 100%;
            border-radius: 50%;
        }
        #UserName {
            flex: 1 0 auto;
            margin: 1em 0em 0em 0.3em;
            span {
                margin: 1em 0.4em;
                font-size: 0.6em;
            }
        }
    }
    @include Responsive.phone {

    };
}

#NavBarTopRibbon {
    height: 0.15em;
    background-color: Palette.$purple;
}

#NavBarBottomRibbon {
    height: 0.15em;
    background-color: Palette.$blue;
}

@keyframes BorderLoading {
    0% {
        border-top: 2px solid Palette.$purple;
        border-right: 2px solid Palette.$purple;
        border-bottom: 2px solid Palette.$blue;
        border-left: 2px solid Palette.$blue;
    }
    25% {
        border-top: 2px solid Palette.$blue;
        border-right: 2px solid Palette.$purple;
        border-bottom: 2px solid Palette.$purple;
        border-left: 2px solid Palette.$blue;
    }
    50% {
        border-top: 2px solid Palette.$blue;
        border-right: 2px solid Palette.$blue;
        border-bottom: 2px solid Palette.$purple;
        border-left: 2px solid Palette.$purple;
    }
    75% {
        border-top: 2px solid Palette.$purple;
        border-right: 2px solid Palette.$blue;
        border-bottom: 2px solid Palette.$blue;
        border-left: 2px solid Palette.$purple;
    }
    100% {
        border-top: 2px solid Palette.$purple;
        border-right: 2px solid Palette.$purple;
        border-bottom: 2px solid Palette.$blue;
        border-left: 2px solid Palette.$blue;
    }
}